/*body {
    background: red;
  }*/

  .modal { 
      width: 80%; 
      margin-left: -40%; 
      margin-top: 0; 
      height: 77%; 
    /*  overflow:hidden;
      display:block;*/
    }

    .modal-body {  
      height: 92%; 
      max-height: 92%;  
      overflow:hidden;
      display:block;
   
    }

    div#image {

      width: 43%;
      height: 20%;
      

    }

    div.new_html_code {
      width:111%;
      height:64%;
      /*min-width:1104px;*/
      /*min-height:625px;*/
      /*max-width:1104px;*/
      max-height:60%;
      
      /*border:1px solid red;*/
      margin: 0 auto;
      overflow:hidden;
      display:block;
    }
    .media-sidebar {

      /*width:4500px;*/
      height:235px;
      /*min-width:4500px;*/
      /*min-height:125px;*/
      /*max-width:450px;*/
      max-height:450px;
      
      overflow:auto;
      display:block;
      /*background: red;*/
}


img.img-rounded {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #CCC;
    height:32px;
    width:32px;
    display:inline-block;
    /*margin:10px;*/
}

img.img-rounded > img {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    height:32px;
    width:32px;
}


img.img-rounded-main {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border: 5px solid #000;
    height:99%;
    width:99%;
    display:inline-block;
    
    
    /*margin:10px;*/
}

img.img-rounded-main > img {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    height:80%;
    width:80%;
}
img.img-rounded-twitter {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #CCC;
    height:44px;
    width:44px;
    display:inline-block;
    /*margin:10px;*/
}

img.img-rounded-twitter > img {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    height:44px;
    width:44px;
}


.carousel-caption {

  width: 94%;
  /*margin-left: 0%;
  margin-top: 50%;
  margin: auto;
  /*display:block;*/
  /*position: relative;*/
}    

#image {

position:relative;
}

#the_caption{

position: absolute;

}



.image-container {

  background: #000000;
  /*margin-right: 20px;*/

}

.media-content {

background: red;
/*margin-left: -20%;*/

}

.social-button-container {

                /** 
                 * This is a nice CSS trick that allows you to clear an element
                 * without having to add extra elements to your HTML. This helps
                 * seperate content from design, which should always be an architectural
                 * goal.
                 */
                overflow: hidden; 
            }
            
            .social-button {
                float: left;
                width: 100px;
                height: 20px;
            }


            /*.modal { width: 1104px; margin-left: -550px; margin-top: -350px; height: 682px; }*/

  

.table-centered th, .table-centered td {
    border-top: 1px solid #DDDDDD;
    line-height: 18px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;

}

.popover-inner {
    width: 120px;
}


.media-info{

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 55%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(55%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 55%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 55%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 55%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 55%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.media-wide {


  width: 100%;
  margin-right: 0;
  margin-left: 0;

}



.icon-red {

  color: #FE2E64;
  /*text-shadow: 1px 1px 1px #ccc;*/

}

.icon-blue {

  color: #5882FA;
  /*text-shadow: 1px 1px 1px #ccc;*/
}

.icon-facebook-blue {

  color: #3B5998;

}

.icon-twitter-blue {

  color: #4099FF;

}

.icon-instagram-grey {

  color: #A4A4A4;


}

/* Start logos */
[class^="logo-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  background-image: url(http://localhost/myinsta/public/img/logos.png);
  background-position: 16px 16px;
  background-repeat: no-repeat;

  /*.ie7-restore-right-whitespace();*/
}

.logo-www                { background-position:    0   0; }
.logo-youtube        { background-position:  -16px 0; }
.logo-xing              { background-position:  -32px 0; }
.logo-twitter        { background-position:  -48px 0; }
.logo-myspace        { background-position:  -64px 0; }
.logo-rss                { background-position:  -80px 0; }
.logo-linkedin      { background-position:  -96px 0; }
.logo-googleplus  { background-position: -112px 0; }
.logo-facebook      { background-position: -128px 0; }
.logo-phone            { background-position: -144px 0; }
.logo-mobile          { background-position: -160px 0; }
.logo-address        { background-position: -176px 0; }
.logo-email            { background-position: -192px 0; }
.logo-comedy          { background-position: -207px 0; }
.logo-blog              { background-position: -223px 0; }
/* End logos*/


.facebook-like {
    overflow: hidden;
}


/* DROPDOWN MENU*/

/* MULTI-LEVEL DROPDOWNS FOR BOOTSTRAP */
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


.wrap {
  width: 950px;
  margin: 5px auto;    
}

.media { margin: 0; }



.story {
  float: left;
  clear: left;
}
.story.right {
  float: right;
  clear: right;
}


.sourceUnit {
  float: right;
  margin-top: -23px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 11px;
}
.sourceUnit .sourceUnit-content {
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
}
.sourceUnit .sourceUnit-content > p {
  margin: 0;
}

.thumbnail {

  margin: 0 auto;


}
