.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 0; }
*:first-child+html .cf { zoom: 0; }


.vhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/*
 * Socialite Look-a-like defaults
 */

.social-buttons { display: block; list-style: none; padding: 0; margin: 0; }
.social-buttons > li { display: block; margin: 0; padding: 0px; float: left; }
.social-buttons .socialite { display: block; position: relative; background: url('../img/social-sprite3.png') 0 0 no-repeat; }
.social-buttons .socialite-loaded { background: none !important; }

.social-buttons .twitter-share { width: 80px; height: 22px; background-position: 0 0; }
.social-buttons .googleplus-one { width: 80px; height: 22px; background-position: -75px 0; }
.social-buttons .facebook-like { width: 100px; height: 22px; background-position: -145px 0; }
.social-buttons .linkedin-share { width: 60px; height: 22px; background-position: -215px 0; }
