@font-face{ 
    font-family: 'WebIconFonts';
    src: url('webiconfonts.eot');
    src: url('WebIconFonts.eot?') format('eot'),
         url('WebIconFonts.woff') format('woff'),
         url('WebIconFonts.ttf') format('truetype');
}

.icon {
    font-family: WebIconFonts;
}